<ion-content class="ion-padding ion-text-center">

  <div class="logo">
    <img src="assets/frick.png">
  </div>
  <br>
  <div class="form">
  <ion-item lines="none">
    <ion-input [(ngModel)]="login.cedula" placeholder="Cedula" ></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input  [(ngModel)]="login.password" placeholder="Password" type="Password"></ion-input>
  </ion-item>

  <ion-button color="warning" expand="block" (click)="logearse()">LOGIN</ion-button>
  </div>
</ion-content>
