.logo{
  margin-top: 20%;
  img{
    height: 110px;
  }
}

.form{
  margin-top: 20%;
  ion-item{
    border-radius: 5px;
    border-color: rgb(201,201,201);
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
  }
}
